<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teste_geolocalizacao">

    <!-- Permissões de Localização -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- API 31+ requer a seguinte permissão para buscar localização em segundo plano -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:label="teste_geolocalizacao"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Configuração da Chave da API do Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA7XsT0TkePb8X-IvFgM72r4T8wS3L0bGA"/> <!-- Sua chave de API -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
<<<<<<<< HEAD:teste_geolocalizacao/android/app/src/main/AndroidManifest.xml
                android:resource="@style/NormalTheme" />

========
                android:resource="@style/NormalTheme"
                />
>>>>>>>> 524d0cd441fadb7f83152ffa38c768debc66dbc8:exemplo_firebase/android/app/src/main/AndroidManifest.xml
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Meta-data necessária para o Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>